body {
    background-color: rgb(62, 66, 76);
    text-align: center;
}
h1 {
    color:rgb(106, 188, 161);
    font:900 5rem/1.5 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* text-shadow: 10px black; */
}
.btn {
    background-color: burlywood;
    border: 2px solid brown;
    border-radius: 20px 20px;
    padding: 10px;
    color: brown;
    font-weight: 600;
    text-transform: capitalize;
}
#label-for-rounds {
    font: 600 2rem/1.5 Tahoma,Arial,Sans-serif;
    color: rgb(107, 180, 156);
    text-transform: capitalize;
}
#rounds {
    background-color: wheat;
    border:2px solid brown;
    border-radius: 10px;
    padding:5px;
    margin: 5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#dices{
    width:550px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:10%;
    margin: 0 auto;
}
#dices p {
    color:aquamarine;
    font-weight:700;
    font-size: 2rem;
    margin: 0;
}
.dice {
    background-color: brown;
    width: 200px;
    height: 200px;
    border-radius: 10%;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 30px;
}
.dice2, .dice1 {
    width:70%;
    height:70%;
    background-color: burlywood;
    border-radius: 50%;
    margin: auto;
}
.two, .seven {
    grid-column-start:  3;
}

.hidden {
    visibility: hidden;
}
@media (max-width:750px){
    html {
        font-size: 8px;
    }
    #dices {
        width: 275px;
    }
    .dice {
        width: 100px;
        height: 100px;
        padding: 15px;
        margin:auto;
    }
}